[submodule "src/main/java/frc/RebeLib"]
	path = src/main/java/frc/RebeLib
	url = https://github.com/10014Rebellion/RebeLib
[submodule "src/main/deploy/autoTest"]
	path = src/main/deploy/autoTest
	url = https://github.com/10014Rebellion/autoTest
